<!-- Footer Section -->
<footer class="py-2 bg-gradient-to-r from-[#dadff5] to-[#7c94e1]">
  <div class="container  mx-10 grid grid-cols-1 md:grid-cols-4 gap-4  items-center text-center md:text-left">
    
    <!-- About Us -->
    <div>
      <p class="text-lg font-bold mb-4 text-gray-800">About Us</p>
      <p class="text-gray-600 text-sm">We provide comprehensive medical care and a wide range of health services to support your well-being.</p>
    </div>
    
    <!-- Contact Us -->
    <div>
      <p class="text-lg font-bold mb-4 text-gray-800">Contact Us</p>
      <ul class="space-y-1 flex">
        <li><a href="#" class="text-gray-600 text-sm mx-1  hover:text-blue-600 transition duration-200">Privacy Policy</a></li>
        <li><a href="#" class="text-gray-600 text-sm mx-1 hover:text-blue-600 transition duration-200">Contact Info</a></li>
        <li><a href="#" class="text-gray-600 text-sm mx-1 hover:text-blue-600 transition duration-200">Store Services</a></li>
      </ul>
    </div>
    
    <!-- Privacy Policy -->
    <div>
      <p class="text-lg font-bold mb-4 text-gray-800">Privacy Policy</p>
      <p class="text-gray-600 text-sm">All rights reserved &copy; 2024</p>
      <!-- <div class="mt-4 flex justify-center md:justify-start space-x-4">
        <a href="#"><img src="https://media.istockphoto.com/id/1344779917/vector/medical-center-hospital-building-vector-design.jpg?s=612x612&w=0&k=20&c=_sZByueZhEZbK2WjQz1jqXy1_Rr5jYkgiVBj-2ls44s=" alt="Social Icon 1" class="w-8 rounded-md"></a>
        <a href="#"><img src="https://media.gettyimages.com/id/1312706413/photo/modern-hospital-building.jpg?s=612x612&w=gi&k=20&c=1-EC4Mxf--5u4ItDIzrIOrduXlbKRnbx9xWWtiifrDo=" alt="Social Icon 2" class="w-8 rounded-md"></a>
        <a href="#"><img src="https://img.freepik.com/free-vector/people-walking-sitting-hospital-building-city-clinic-glass-exterior-flat-vector-illustration-medical-help-emergency-architecture-healthcare-concept_74855-10130.jpg" alt="Social Icon 3" class="w-8 rounded-md"></a>
      </div> -->
    </div>
    
    <!-- Terms of Service -->
    <div>
      <p class="text-lg font-bold mb-4 text-gray-800">Terms of Service</p>
      <p class="text-gray-600 text-sm">We adhere to strict policies to ensure the highest standards of care and safety for our patients.</p>
    </div>
  </div>
</footer>
