
swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next, 
nav .swiper-rtl .swiper-button-prev {
    color: brown !important;
}
.swiper-button-next{
  background-color: aquamarine !important;
}
