<section class="flex px-4 mt-[140px] mb-10">
  <div class="flex justify-center items-center w-full">
    <!-- Swiper Section -->
    <div class="w-[45%] h-[350px] flex items-center justify-center">
      <swiper-container
        class="mySwiper rounded-full"
        pagination="true"
        pagination-clickable="true"
        navigation="true"
        space-between="30"
        centered-slides="true"
        autoplay-delay="2500"
        autoplay-disable-on-interaction="false"
      >
        <swiper-slide *ngFor="let slide of slides" class="rounded-lg">
          <div class="relative w-full h-full bg-cover rounded-lg">
            <img
              class="absolute inset-0 w-full h-full rounded-lg object-cover"
              [src]="slide.image"
              [alt]="slide.title"
            />

            <div
              class="absolute bottom-0 left-0 right-0 flex flex-col justify-end items-center bg-black bg-opacity-50 text-white p-2 rounded-lg rounded-t-none"
            >
              <p class="text-2xl font-medium">{{ slide.title }}</p>
              <p class="text-center">{{ slide.description }}</p>
            </div>
          </div>
        </swiper-slide>

        <div
          class="swiper-button-next"
          class="text-green-600"
          style="color: black"
        ></div>
        <div class="swiper-button-prev"></div>
      </swiper-container>
    </div>

    <!-- Hero Section -->
    <div
      class="w-[55%] h-[350px] flex flex-col justify-center items-center p-4"
    >
      <div class="flex flex-col items-center justify-center w-5/6">
        <p class="text-2xl font-bold text-gray-800 mb-4">Hospital Management</p>
        <p class="mx-auto text-sm text-center text-gray-500 mb-6">
          Welcome to the Mediborad application! This platform is designed for
          learning purposes only. It offers a unique opportunity to explore
          various features and functionalities. Please note that the information
          provided is not intended for real-world use or professional advice.
        </p>
        <p class="mx-auto text-sm text-center text-gray-500 mb-6">
          Offering advanced care across various specialties. Explore our
          services to find the best care for you and your loved ones.Offering
          advanced care across various specialties. Explore our services to find
          the best care for you and your loved ones.
        </p>
        <button
          class="px-4 mt-4 py-3 bg-gradient-to-r from-[#6578ca] to-[#9cb0f1] hover:bg-blue-700 rounded-full text-sm font-normal text-white transition duration-300 ease-in-out transform hover:scale-105 shadow-md hover:shadow-lg"
          (click)="bookAppointmentClicked()"
        >
          Book Appointment
        </button>
      </div>
    </div>
  </div>
</section>
<app-users-info></app-users-info>
<app-specialties></app-specialties>
<app-add-edit
  *ngIf="openBookAppointment"
  (closeAppointmentModel)="handleCloseAppointment()"
></app-add-edit>
<app-footer></app-footer>
<!--*ngIf="openBookAppointment"-->
