<div class="relative w-full h-screen" *ngIf="!userAppointments">
  <mat-icon
    class="absolute mt-32 ml-4 transform -translate-x-1/2 -translate-y-1/2 text-[35px] p-16 text-white hover:text-[42px] hover:text-blue-400 transition-all duration-300 ease-in-out cursor-pointer"
    (click)="handelReturn()"
    >arrow_back</mat-icon
  >
  <img
    src="https://ideogram.ai/assets/progressive-image/balanced/response/3Rmwr_mGSmmlLTk_FvuKJg"
    class="w-full h-screen"
  />
</div>
<div class="flex gap-6 mt-32 ml-12" *ngIf="userAppointments">
  <p (click)="handelTypeClicked('all')" 
     class="cursor-pointer p-2 rounded-lg text-white"
     [ngClass]="selectedType === 'all' ? 'bg-blue-600' : 'bg-blue-300'">All</p>
  <p (click)="handelTypeClicked('upcoming')" 
     class="cursor-pointer p-2 rounded-lg text-white"
     [ngClass]="selectedType === 'upcoming' ? 'bg-blue-600' : 'bg-blue-300'">Upcoming</p>
  <p (click)="handelTypeClicked('completed')" 
     class="cursor-pointer p-2 rounded-lg text-white"
     [ngClass]="selectedType === 'completed' ? 'bg-blue-600' : 'bg-blue-300'">Completed</p>
</div>

<div
  *ngIf="userAppointments"
  class="ml-32 grid gap-6 p-4 sm:grid-cols-1 md:grid-cols-2"
>
  <div
    *ngFor="let appointment of filteredAppointments"
    class="relative p-6 rounded-lg shadow-lg w-[570px] transform transition-transform hover:scale-105 bg-white bg-opacity-90 border border-gray-300 hover:shadow-xl"
  >
    <!-- Main Card Content -->
    <div class="relative flex items-start justify-evenly">
      <!-- Left Side: Appointment Details -->
      <div class="w-1/2 space-y-4">
        <p class="text-sm text-gray-600 font-medium">
          Appointment ID:
          <span class="text-gray-800">{{ appointment.appointment_id }}</span>
        </p>
        <p class="text-sm text-gray-600 font-medium">
          Patient Name:
          <span class="text-gray-800">{{ appointment.patient_name }}</span>
        </p>
        <p class="text-sm text-gray-600 font-medium">
          Date:
          <span class="text-gray-800">{{ appointment.slot_date }}</span>
        </p>
        <p class="text-sm text-gray-600 font-medium">
          Slot Time:
          <span class="text-gray-800">
            {{ appointment.slot_time | hoursFormat12 }} -
            {{ appointment.slot_end_time | hoursFormat12 }}
          </span>
        </p>
        <p class="text-sm text-gray-600 font-medium">
          Patient Mob. No:
          <span class="text-gray-800">7731022239</span>
        </p>
      </div>

      <!-- Vertical Line Divider -->
      <div class="h-44 w-px bg-gray-300 mx-6"></div>

      <!-- Right Side: Slot Time and Mobile Info -->
      <div class="w-1/2 space-y-2">
        <p
          *ngIf="appointment.is_emergency"
          class="text-sm text-red-500 font-semibold"
        >
          Emergency
        </p>
        <p class="text-sm text-gray-600 font-medium">
          Doctor:
          <span class="text-gray-800">{{ appointment.doctor_name }}</span>
        </p>
        <p class="text-sm text-gray-600 font-medium">
          Doctor Contact:
          <span class="text-gray-800">{{ appointment.mobile_number }}</span>
        </p>
        <p class="text-sm text-gray-600 font-medium">
          Notes:
          <span class="text-gray-800">Drink More Water, CT Scan</span>
        </p>
        <p class="text-sm text-gray-600 font-medium">
          Test:
          <span class="text-gray-800">{{ appointment.for_test }}/A</span>
        </p>
        <p class="text-sm text-gray-600 font-medium">
          Status:
          <span class="text-gray-800">{{ appointment.status }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="loaderEnable"></app-loader>
