<div class="ml-20">
  <app-appointmentcard
    *ngIf="userAppointments.length !== 0"
    class="w-full"
    [appointmentData]="{userAppointments}"
  />
</div>

<div *ngIf="userAppointments.length == 0">
  <app-error
    subText="Book your appointment now and stay ahead of your schedule!"
    mainText="No scheduled appointments at the moment."
  ></app-error>
</div>
<!-- Loader Component -->
<app-loader *ngIf="loaderEnable"></app-loader>
<app-side-nav [sideNavContent]="sideNavContent"></app-side-nav>
