<div class="relative w-full h-screen" *ngIf="!userAppointments">
    <mat-icon class="absolute mt-32 ml-4 transform -translate-x-1/2 -translate-y-1/2 text-[35px] p-16 text-white hover:text-[42px] hover:text-blue-400 transition-all duration-300 ease-in-out cursor-pointer" (click)="handelReturn()">arrow_back</mat-icon>
    <img src="https://ideogram.ai/assets/progressive-image/balanced/response/3Rmwr_mGSmmlLTk_FvuKJg" class="w-full h-screen">
</div>
<div *ngIf="userAppointments" class="mt-52 p-4">
    <table class="min-w-full border-collapse border border-gray-300 shadow-lg">
      <thead class="bg-blue-500 text-white">
        <tr>
          <th class="px-4 py-2 border border-gray-300">Appointment ID</th>
          <!-- <th class="px-4 py-2 border border-gray-300">Doctor ID</th> -->
          <th class="px-4 py-2 border border-gray-300">Doctor Name</th>
          <!-- <th class="px-4 py-2 border border-gray-300">Email</th> -->
          <th class="px-4 py-2 border border-gray-300">For Test</th>
          <th class="px-4 py-2 border border-gray-300">Is Emergency</th>
          <th class="px-4 py-2 border border-gray-300">Mobile Number</th>
          <th class="px-4 py-2 border border-gray-300">Patient Name</th>
          <th class="px-4 py-2 border border-gray-300">Slot Date</th>
          <th class="px-4 py-2 border border-gray-300">Slot End Time</th>
          <th class="px-4 py-2 border border-gray-300">Slot ID</th>
          <th class="px-4 py-2 border border-gray-300">Slot Time</th>
          <th class="px-4 py-2 border border-gray-300">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of userAppointments" class="bg-white even:bg-gray-100">
          <td class="px-4 py-2 border border-gray-300 text-center">{{ appointment.appointment_id }}</td>
          <!-- <td class="px-4 py-2 border border-gray-300 text-center">{{ appointment.doctor_id }}</td> -->
          <td class="px-4 py-2 border border-gray-300 text-left">{{ appointment.doctor_name }}</td>
          <!-- <td class="px-4 py-2 border border-gray-300 text-left">{{ appointment.email }}</td> -->
          <td class="px-4 py-2 border border-gray-300 text-center">{{ appointment.for_test }}</td>
          <td class="px-4 py-2 border border-gray-300 text-center">{{ appointment.is_emergency }}</td>
          <td class="px-4 py-2 border border-gray-300 text-center">{{ appointment.mobile_number }}</td>
          <td class="px-4 py-2 border border-gray-300 text-left">{{ appointment.patient_name }}</td>
          <td class="px-4 py-2 border border-gray-300 text-center">{{ appointment.slot_date }}</td>
          <td class="px-4 py-2 border border-gray-300 text-center">{{ appointment.slot_end_time }}</td>
          <td class="px-4 py-2 border border-gray-300 text-center">{{ appointment.slot_id }}</td>
          <td class="px-4 py-2 border border-gray-300 text-center">{{ appointment.slot_time }}</td>
          <td class="px-4 py-2 border border-gray-300 text-center">{{ appointment.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  