<div *ngIf="typeOfModal=='failure'"
  class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50"
>
  <div
    class="bg-white dark:bg-neutral-950 relative rounded-lg shadow-2xl w-full max-w-sm h-auto mx-4 md:mx-0 p-8 space-y-8"
  >
  <div class="flex justify-end" (click)="closeModal()"><mat-icon>close</mat-icon></div>
  <div class="flex items-center justify-center">
    <img src="https://media.istockphoto.com/id/1319148638/vector/oops-vector-comic-speech-bubble-effect.jpg?s=2048x2048&w=is&k=20&c=5HSIqdy3gQKNgaA8-PIe_J28qTJ2T60T3zuO-d-XfxQ=" alt="Centered Image" class="h-44 w-64">
  </div>
  <div class="inset-0 flex text-2xl  items-center justify-center z-10"> {{message}}</div>
  </div>
</div>

<div  *ngIf="typeOfModal=='success'"

  class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50"
>
  <div
    class="bg-white dark:bg-neutral-950 relative rounded-lg shadow-2xl w-full max-w-sm h-auto mx-4 md:mx-0 p-8 space-y-8"
  >
  <div class="flex items-center justify-center">
    <img src="https://generated-assets.prod.myninja.ai/1850a876-c518-4f7f-978f-7b63a31892f3/1c1f92fe-27da-4b7f-bdc9-119e5d1a8669_0.png" class="h-44 w-64">
  </div>
  <div class="inset-0 flex text-xl font-font-medium items-center justify-center z-10"> {{message}}</div>
  </div>
</div>

