<div class="navMainContainer">
  <div class="NavMain flex justify-between mx-10">
    <div class="navLogo flex flex-none p-4 items-center">
      <div>
        <img
          src="https://www.zilliondesigns.com/images/portfolio/healthcare-hospital/iStock-471629610-Converted.png"
          class="w-10 h-10"
          alt="WebsiteLogo"
        />
      </div>
      <div><p class="pt-2">MediBoard</p></div>
    </div>
    <div class="flex items-center justify-center" *ngIf="!userInfo">
      <div>
        <mat-form-field appearance="fill" class="w-36 h-16">
          <mat-select
            [(value)]="typeOfUser"
            (selectionChange)="onUserSelectChange($event.value)"
            class="text-sm h-8"
          >
            <mat-select-trigger>
              <mat-icon
                *ngIf="typeOfUser === 'Patient'"
                class="text-blue-400 w-4"
              >
                person
              </mat-icon>
              <mat-icon
                *ngIf="typeOfUser === 'Doctor'"
                class="text-blue-400 w-5"
              >
                person
              </mat-icon>
              <mat-icon
                *ngIf="typeOfUser === 'Employee'"
                class="text-blue-400 w-5"
              >
                badge
              </mat-icon>
              <!-- Default icon when none of the conditions match -->
              <mat-icon *ngIf="!typeOfUser" class="text-blue-400 w-5">
                ecg
              </mat-icon>
              {{ typeOfUser || "Select User" }}
            </mat-select-trigger>

            <mat-option value="Patient">
              <mat-icon class="text-blue-400 w-5">group</mat-icon>
              Patient
            </mat-option>
            <mat-option value="Doctor">
              <mat-icon class="text-blue-400 w-5">badge</mat-icon>
              Doctor
            </mat-option>
            <mat-option value="Employee">
              <mat-icon class="text-blue-400 w-5">person</mat-icon>
              Employee
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button
          class="mx-2 p-2 bg-blue-300 rounded-lg text-sm m-4 px-4 text-white"
          (click)="loginButtonClicked('Login')"
        >
          Login
        </button>
        <button
          *ngIf="typeOfUser === 'Patient'"
          (click)="loginButtonClicked('signUp')"
          class="mx-2 p-2 bg-blue-300 rounded-lg text-sm m-4 px-4 text-white"
        >
          Signup
        </button>
      </div>
    </div>
    <div
      class="relative group w-12 h-12 bg-blue-500 rounded-full flex items-center justify-center m-3"
      *ngIf="userInfo"
    >
      <mat-icon
        class="text-blue-400 text-white pl-1"
        style="font-size: 42px; width: 48px; height: 48px"
        >person</mat-icon
      >
      <div
        class="absolute top-full mt-2 bg-blue-300 text-white px-3 py-1 rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        <p>{{ userInfo.first_name }}</p>
        <p class="hover:cursor-pointer" (click)="logoutButtonClicked()">Logout</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoginButtonClicked">
  <app-auth
    [messageFromParent]="parentMessage"
    (userLoggedIn)="onUserLoggedIn($event)"
  ></app-auth>
</div>
<router-outlet></router-outlet>
