<div class="navMainContainer mb-4">
  <div class="NavMain fixed top-0 left-0 right-0 flex justify-between z-50" style="background-color: #dde5fb; overflow: visible;">
    <div class="navLogo flex flex-none p-1 items-center ml-8">
      <div>
        <img
          src="https://www.zilliondesigns.com/images/portfolio/healthcare-hospital/iStock-471629610-Converted.png"
          class="w-20 h-20"
          alt="WebsiteLogo"
        />
      </div>
      <div>
        <p class="pt-5 text-3xl font-serif font-black ">Medi Board</p>
      </div>
    </div>
    <div class="flex items-center justify-center" *ngIf="!userInfo">
      <div class="rounded-full">
        <p-dropdown
          class="custom-rounded-dropdown"
          [options]="countries"
          [(ngModel)]="selectedUser"
          (ngModelChange)="onCountrySelect()"
          optionLabel="name"
          [showClear]="true"
          placeholder="Select a Country"
          [ngClass]="{
            border: true,
            'border-[#6f82c6]': true,
            'rounded-full': true,
            'hover:bg-[#6f82c6]': true,
            'hover:text-white': true,
            'transition-colors': true
          }"
          [ngStyle]="{ 'background-color': '#dde5fb', 'border-radius': '80%' }"
          [style]="{ color: '#dde5fb' }"
          [panelStyle]="{ 'background-color': '#dde5fb', 'color': '#333', 'z-index': '100' }"
        >
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="selectedUser">
              <img
                [src]="selectedUser.image"
                [class]="'flag flag-' + selectedUser.code.toLowerCase()"
                style="width: 18px"
              />
              <div>{{ selectedUser.name }}</div>
            </div>
          </ng-template>
          <ng-template let-country pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img
                [src]="country.image"
                [class]="'flag flag-' + country.code.toLowerCase()"
                style="width: 18px"
              />
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="mr-8">
        <button
          class="mx-2 p-3 text-[18px] m-4 w-28 border border-[#6f82c6] rounded-full hover:bg-[#6f82c6] hover:text-white transition-colors"
          (click)="loginButtonClicked('Login')"
        >
          Login
        </button>

        <button
          *ngIf="typeOfUser === 'Patient'"
          (click)="loginButtonClicked('signUp')"
          class="mx-2 p-3 text-[18px] m-4 w-28 border border-[#6f82c6] rounded-full hover:bg-[#6f82c6] hover:text-white transition-colors"
        >
          Signup
        </button>
      </div>
    </div>
    <div
      class="relative group w-28 h-12 bg-blue-500 rounded-full flex items-center justify-start p-3 m-3"
      *ngIf="userInfo"
    >
      <div class="flex items-center space-x-2">
        <mat-icon class="text-white" style="font-size: 32px">person</mat-icon>
        <p class="text-white pt-3">{{ userInfo.first_name }}</p>
      </div>
      <div
        class="absolute top-full w-64 bg-blue-800 text-white px-3 py-2 rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        <p>{{ userInfo.first_name }}</p>
        <p class="hover:cursor-pointer" (click)="logoutButtonClicked()">
          Logout
        </p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoginButtonClicked">
  <app-auth
    [messageFromParent]="parentMessage"
    [typeOfuser]="typeOfUser"
    (userLoggedIn)="onUserLoggedIn($event)"
    (onCloseButtonClicked)="onCloseButtonClicked($event)"
  ></app-auth>
</div>
<router-outlet></router-outlet>
