<div class="navMainContainer mb-4">
  <div
    class="NavMain flex justify-between bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%"
  >
    <div class="navLogo flex flex-none p-1 items-center ml-8">
      <div>
        <img
          src="https://www.zilliondesigns.com/images/portfolio/healthcare-hospital/iStock-471629610-Converted.png"
          class="w-20 h-20"
          alt="WebsiteLogo"
        />
      </div>
      <div><p class="pt-5 text-3xl font-serif font-black text-white">MediBoard</p></div>
    </div>
    <div class="flex items-center justify-center" *ngIf="!userInfo">
      <div class="rounded-full bg-slate-400">
        <p-dropdown
  [options]="countries"
  [(ngModel)]="selectedUser"
  (ngModelChange)="onCountrySelect()"
  optionLabel="name"
  [showClear]="true"
  placeholder="Select a Country"
  [ngStyle]="{'background-color': '#c7544c','border-radius': '80%'}"
>
  <ng-template pTemplate="selectedItem">
    <div class="flex align-items-center gap-2" *ngIf="selectedUser">
      <img
        [src]="selectedUser.image"
        [class]="'flag flag-' + selectedUser.code.toLowerCase()"
        style="width: 18px"
      />
      <div>{{ selectedUser.name }}</div>
    </div>
  </ng-template>
  <ng-template let-country pTemplate="item">
    <div class="flex align-items-center gap-2">
      <img
        [src]="country.image"
        [class]="'flag flag-' + country.code.toLowerCase()"
        style="width: 18px"
      />
      <div>{{ country.name }}</div>
    </div>
  </ng-template>
</p-dropdown>

      </div>
      <div class="mr-8">
        <button
          class="mx-2 p-4 py-3 bg-blue-600 rounded-full text-[18px] m-4 w-28 text-white"
          (click)="loginButtonClicked('Login')"
        >
          Login
        </button>
        <button
          *ngIf="typeOfUser === 'Patient'"
          (click)="loginButtonClicked('signUp')"
          class="mx-2 p-4 py-3 bg-blue-600 rounded-full text-[18px] m-4 w-28 text-white"
        >
          Signup
        </button>
      </div>
    </div>
    <div
      class="relative group w-12 h-12 bg-blue-500 rounded-full flex items-center justify-center m-3"
      *ngIf="userInfo"
    >
      <mat-icon
        class="text-white pl-1"
        style="font-size: 42px; width: 48px; height: 48px"
        >person</mat-icon
      >
      <div
        class="absolutetop-full mt-2 bg-blue-300 text-white px-3 py-1 rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        <p>{{ userInfo.first_name }}</p>
        <p class="hover:cursor-pointer" (click)="logoutButtonClicked()">
          Logout
        </p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoginButtonClicked">
  <app-auth
    [messageFromParent]="parentMessage"
    [typeOfuser]="typeOfUser"
    (userLoggedIn)="onUserLoggedIn($event)"
    (onCloseButtonClicked)="onCloseButtonClicked($event)"
  ></app-auth>
</div>
<router-outlet></router-outlet>
