<div class="flex justify-end mb-4" *ngIf="enableCloseButton">
    <mat-icon (click)="closeModal()">close</mat-icon>
  </div>
<input
type="text"
[(ngModel)]="searchContent"
(ngModelChange)="onSearch()"
class="w-full h-10 bg-gray-100 border-none rounded-lg px-4 text-sm focus:outline-none mb-4"
placeholder="Search for doctors..."
/>
    <!-- Doctors grid -->
    <div class="overflow-y-auto overflow-x-hidden" style="max-height: calc(100vh - 220px);">
        <div class="doctorsGrid relative grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mr-4 pb-4">
          <div class="rounded-lg shadow-lg h-64 bg-gray-100 relative transform transition duration-300 hover:scale-105 md:flex-row items-center" *ngFor="let doctor of filteredData">
            <!-- Doctor image and info... -->
            <div
            class="flex-shrink-0 w-full md:w-full flex items-center justify-between overflow-hidden"
          >
            <div>
              <img
                [src]="
                  'data:image/' + doctor.image_ext + ';base64,' + doctor.image
                "
                class="w-20 h-20 object-cover rounded-lg m-4 mb-2"
                alt="Doctor's photo"
              />
            </div>
            <!-- Select Doctor Button button -->
            <div class="flex justify-center p-4">
              <button
                class="p-3 text-xs bg-[#6e81c7] hover:bg-[#a4b1e2] text-white font-xs rounded-full shadow-md transition duration-300 w-full"
                (click)="sendDoctordata(doctor.name, doctor.doctor_id)"
              > 
                {{buttonMessage}} </button>
            </div>
          </div>
  
          <!-- Doctor information section -->
          <div
            class="flex flex-col w-full md:w-full justify-center text-left p-4"
          >
            <div class="text-medium font-medium text-gray-800">
              {{ doctor.name }}
              <span class="text-gray-500 font-normal text-xs"
                >( {{ doctor.specialization }} )</span
              >
            </div>
            <div class="text-xs text-gray-800 mt-3">
              {{ doctor.description }}
            </div>
  
            <!-- Doctor contact information -->
            <div class="flex flex-col space-y-2 mt-4 absolute bottom-0 w-full">
              <!-- Position at bottom -->
              <div class="flex items-center space-x-2">
                <mat-icon class="text-[#6e81c7] text-sm">mail</mat-icon>
                <p class="text-xs text-gray-800 pt-2">{{ doctor.email }}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loader *ngIf="loaderOn" message ="Loading Doctors Info"></app-loader>

