<div class="flex justify-center w-full mt-[80px] ml-14 space-x-4">
  <div class="w-8/12">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (ngModelChange)="filterAppointments()"
      class="fixed h-12 w-8/12 bg-gray-100 border-none rounded-lg px-4 text-sm focus:outline-none"
      placeholder="Search Appointments By Id..."
    />
  </div>
  <div class="w-4/12">
    <input
      type="date"
      [(ngModel)]="selectedDate"
      (ngModelChange)="filterAppointmentsByDate()"
      class="fixed h-12 w-2/12 ml-4 bg-gray-100 border-none rounded-lg px-4 text-sm focus:outline-none"
    />
  </div>
</div>

<div *ngIf="!noRecordsFound">
  <div class="flex mt-6 flex-wrap justify-center">
    <div class="flex py-10" *ngFor="let appointment of filteredAppointments">
      <div
        class="flex flex-col w-[400px] justify-center bg-gradient-to-r from-[#7c94e1] to-[#dadff5] shadow-2xl mx-10 rounded-3xl"
      >
        <div class="flex">
          <div class="w-1/2 flex flex-col rounded-lg p-2 py-4">
            <div class="flex justify-between items-center">
              <p class="text-sm px-3 py-2 text-white bg-black rounded-full">
                {{ appointment.appointment_id }}
              </p>
              <p class="font-sm">Appointment Id</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="30px"
                viewBox="0 -960 960 960"
                width="30px"
                fill="#FFFFFF"
              >
                <path
                  d="M382-306.67 653.33-480 382-653.33v346.66ZM480-80q-82.33 0-155.33-31.5-73-31.5-127.34-85.83Q143-251.67 111.5-324.67T80-480q0-83 31.5-156t85.83-127q54.34-54 127.34-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82.33-31.5 155.33-31.5 73-85.5 127.34Q709-143 636-111.5T480-80Zm0-66.67q139.33 0 236.33-97.33t97-236q0-139.33-97-236.33t-236.33-97q-138.67 0-236 97-97.33 97-97.33 236.33 0 138.67 97.33 236 97.33 97.33 236 97.33ZM480-480Z"
                />
              </svg>
            </div>
            <div class="pt-4">
              <div class="font-sm m-0 p-1 leading-none">
                {{ appointment.patient_name }}
              </div>
              <div class="text-xs m-0 px-1 leading-none">
                {{ appointment.email }}
              </div>
            </div>
            <div class="pt-4">
              <div class="font-sm m-0 p-1 leading-none">Booked Email :</div>
              <div class="text-xs m-0 px-1 leading-none flex items-center">
                <mat-icon class="text-gray-500 text-xl"
                  >bookmark_added</mat-icon
                >
                {{ appointment.email }}
              </div>
            </div>
          </div>
          <div class="w-1/2 flex flex-col p-3 pb-4 bg-white rounded-3xl">
            <div>
              <div class="flex justify-between">
                <p>Appointment</p>
                <div class="rounded-full text-xl px-2 py-0">
                  <img
                    class="w-7 h-7 rounded-full"
                    src="https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-add-icon-png-image_4184841.jpg"
                  />
                </div>
              </div>
              <div class="text-medium font-medium">
                {{ appointment.patient_name }}
              </div>
              <div class="text-gray-500 text-sm">Patient Name</div>
              <div class="text-sm font-medium">
                {{ appointment.mobile_number }}
              </div>
              <div class="flex mt-4 px-2 justify-between items-center">
                <p>Slot ID</p>
                <p>{{ appointment.slot_id }}</p>
              </div>
              <div class="flex justify-between items-center">
                <div class="p-1 px-4 rounded-xl bg-blue-50 shadow-2xl">
                  <div class="text-xs">Date</div>
                  <div class="text-xs">{{ appointment.slot_date }}</div>
                </div>
                <div class="p-1 px-4 rounded-xl bg-blue-50 shadow-2xl">
                  <div class="text-xs">Status</div>
                  <div class="text-xs text-center">
                    {{ appointment.for_test }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Date & Slot Info -->
        <div class="flex">
          <div class="flex w-1/2 bg-white rounded-3xl rounded-br-xl p-4">
            <div class="flex flex-col w-full">
              <div class="flex">
                <p class="text-sm">Date</p>
              </div>
              <div class="flex items-center">
                <mat-icon class="text-sm">calendar_month</mat-icon>
                <div class="text-xs">{{ appointment.slot_date }}</div>
              </div>
            </div>
            <div class="w-[1px] bg-gray-300"></div>
            <div class="flex flex-col w-full">
              <div class="flex">
                <p class="text-sm">Slot Time</p>
              </div>
              <div class="flex items-center">
                <mat-icon class="text-[18px]">schedule</mat-icon>
                {{ appointment.slot_time }}
              </div>
            </div>
          </div>

          <div class="w-1/2 bg-white rounded-3xl rounded-bl-xl p-4">
            <div class="text-[13px] text-gray-700 pb-2">
              Sudheerjanga9999gmail.com
            </div>
            <hr class="border-t border-gray-300 mx-1" />
            <div class="text-gray-700 py-1 font-medium">
              {{ appointment.doctor_name }}
            </div>
            <hr class="border-t border-gray-300 mx-1" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="noRecordsFound">
  <app-error
    subText=" Please try searching with a different term."
    mainText="No Records Found"
  ></app-error>
</div>
