<!-- <app-main></app-main> -->
<app-nav></app-nav>
<!-- <div class="fixed top-[62px] pt-2 left-0 right-0 z-10 flex justify-center items-center overflow-x-hidden whitespace-nowrap bg-[#7c94e1]">
    <p class="inline-block animate-marquee text-white pt-2">
      Welcome to the Mediborad application! This platform is designed for learning purposes only. Please note that the information provided is not intended for real-world use or professional advice.
    </p>
  </div> -->
  
<div *ngIf="!employeeLogin">
    <!-- <app-homepage></app-homepage> -->

</div>
<div *ngIf="currentUser =='patient'">
    <app-homepage *ngIf="currentRoute === '/'"></app-homepage>
</div>