<div  *ngIf="openLoader">
  <app-loader/>
</div>
<mat-icon
class="fixed top-[78px] left-4 transform -translate-x-1/2 -translate-y-1/2 text-[35px] p-16 hover:text-[42px] hover:text-blue-400 transition-all duration-300 ease-in-out cursor-pointer"
(click)="handleReturn()"
>arrow_back</mat-icon
>

<div class="w-full h-screen">
  <div
    *ngIf="userAppointments.length > 0"
  >
  </div>
  <app-appointmentcard class="w-full" [appointmentData] = {userAppointments} />
  <div *ngIf="userAppointments.length == 0">
    <mat-icon
      class="fixed top-32 left-4 transform -translate-x-1/2 -translate-y-1/2 text-[35px] p-16 hover:text-[42px] hover:text-blue-400 transition-all duration-300 ease-in-out cursor-pointer"
      (click)="handleReturn()"
    >
      arrow_back
    </mat-icon>
    {{userAppointments.length}}
    <img
      src="https://ideogram.ai/assets/progressive-image/balanced/response/-ZZguaTVQ0WiUATKcBaBGA"
      class="w-full h-screen"
    />
  </div>
</div>