<div  *ngIf="openLoader">
  <app-loader/>
</div>

<div class="w-full h-screen ml-16">
  <div
    *ngIf="userAppointments.length > 0"
  >
  </div>
  <app-appointmentcard class="w-full" [appointmentData] = {userAppointments} />
  <div *ngIf="userAppointments.length == 0">
    <app-error
    subText="Book your appointment now and stay ahead of your schedule!"
    mainText="No scheduled appointments at the moment."
  ></app-error>
  </div>
</div>
<app-side-nav [sideNavContent]="sideNavContent"></app-side-nav>