<input
type="text"
[(ngModel)]="searchContent"
(ngModelChange)="onSerach()"
class="w-[98%] h-12 ml-4  bg-gray-100 mt-16 border-none rounded-lg px-4 text-sm focus:outline-none mb-4"
placeholder="Search for doctors..."
*ngIf="!generateSlot"
/>
<!-- <div class="mx-10 pt-2 ">
  <div
  class="doctorsGrid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4 w-full pb-4"
  *ngIf="filteredContent?.length && !generateSlot"
>
  <div
    class=" relative transform transition duration-300  hover:shadow-xl"
    *ngFor="let doctor of filteredContent"
  >
  <div class="shadow-2xl rounded-2xl flex w-[650px] mx-10">
    <div class="rounded-2xl rounded-r-none w-4/12">
      <div class="flex px-3  pt-2">
        <img class="w-9 h-9 mt-4 rounded-xl" src='https://img.freepik.com/premium-vector/doctor-icon-avatar-white_136162-58.jpg'>
        <div class="flex flex-col px-3">
          <div class="pt-2 text-xs">{{doctor.name}}</div>
          <div class="pl-2 text-sm">34 Years</div>
        </div>
      </div>
      <div class="mt-6">
        <div class="pl-4 pb-4">
          <div class="mt-2 text-sm text-gray-400">Date oF Birth</div>
          <div class="flex items-center ">
            <mat-icon class="text-black text-sm">calendar_month</mat-icon>
            <span class="text-sm">{{doctor.dob}}</span>
          </div>        
        </div>
        <div class="w-full h-[1px] bg-black"></div>
        <div class="pl-4 pb-4">
          <div class="mt-2 text-sm text-gray-400">Doctors Email</div>
          <div class="flex items-center ">
            <mat-icon class="text-black text-sm">email</mat-icon>
            <span class="text-xs">{{doctor.email}}</span>
          </div>        
        </div>
        <div class="w-full h-[1px] bg-black"></div>
        <div class="pl-4 pb-4">
          <div class="mt-2 text-sm text-gray-400">Doctors Mobile Number</div>
          <div class="flex items-center ">
            <mat-icon class="text-black text-sm">call</mat-icon>
            <span class="text-sm">{{doctor.mobile_number}}</span>
          </div>        
        </div>
        <div class="w-full h-[1px] bg-black"></div>
        <div class="pl-4 pb-4">
          <div class="mt-2 text-sm text-gray-400">specialization</div>
          <div class="flex items-center ">
            <mat-icon class="text-black text-sm">workspace_premium</mat-icon>
            <span class="text-sm">Authopedition</span>
          </div>        
        </div>
      </div>
    </div>
    <div class="w-5/12 bg-gray-50 rounded-md shadow-2xl">
      <div class="px-4 font-medium text-2xl ml-2">Doctor Name </div>
      <div class="flex items-center ml-6 mb-3">
        <mat-icon class="text-black text-[19px] pt-[2px]">workspace_premium</mat-icon>
        <span class="">{{doctor.specialization}}</span>
      </div> 
      <p class="text-xs px-4">{{doctor.description}}</p>
      <div class="flex space-x-3 px-2 pt-3">
        <button class="text-xs text-white bg-gradient-to-r from-[#6578ca] to-[#9cb0f1] rounded-lg p-3 w-36">Edit doctor</button>
        <button class="text-xs text-white bg-gradient-to-r from-[#6578ca] to-[#9cb0f1] rounded-lg p-3 w-36" (click)="toggleComponnet(doctor.name, doctor.doctor_id)">Schedule</button>
      </div>
    </div>
    <div class="bg-blue-200 rounded-2xl rounded-l-none w-3/12">
      <img class="w-full rounded-2xl rounded-l-none h-full" [src]="'data:image/' + doctor.image_ext + ';base64,' + doctor.image">
    </div>
  </div>
  </div>
  </div>
  </div> -->



  <div class="mx-10 pt-2 ">
  <div
    class="doctorsGrid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-6  w-full pb-4"
    *ngIf="filteredContent?.length && !generateSlot"
  >
    <div
      class="rounded-lg shadow-lg bg-white relative transform transition duration-300 hover:scale-105 hover:shadow-xl"
      *ngFor="let doctor of filteredContent"
    >
          <div
        class="bg-gradient-to-r from-[#7c94e1] to-[#dadff5] w-full h-20 flex items-center rounded-t-lg justify-center relative mb-10"
      >
        <img
          [src]="'data:image/' + doctor.image_ext + ';base64,' + doctor.image"
          class="w-[110px] h-[110px] rounded-full border-4 border-white shadow-lg"
          style="position: absolute; top: 60%; transform: translateY(-20%)"
        />
      </div>

      <div class="flex flex-col items-center text-center mb-4 mt-20 px-4">
        <div class="text-sm font-semibold text-gray-800">{{ doctor.name }}</div>
        <div class="text-xs text-gray-600">{{ doctor.specialization }}</div>
      </div>
  
      <div class="flex flex-col space-y-1 mb-4 px-4">
        <div class="flex space-x-4">
          <div class="flex items-center space-x-2 ">
            <mat-icon class="text-[#7c94e1] text-xs">mail</mat-icon>
            <p class="text-xs text-gray-800">{{ doctor.email }}</p>
          </div>
          <div class="flex items-center space-x-2 ml-4">
            <mat-icon class="text-[#7c94e1] text-xs">phone</mat-icon>
            <p class="text-xs text-gray-800">{{ doctor.mobile_number }}</p>
          </div>
        </div>
        
        <div class="flex items-center space-x-2">
          <p class="text-xs text-gray-800">{{ doctor.description }}</p>
        </div>
      </div>
  
      <div class="flex justify-between space-x-2 px-4 pb-4">
        <button
          class="py-3 bg-[#7c94e1] text-white text-xs font-medium rounded-full shadow-md transition duration-300 w-full"
        >
          Contact
        </button>
        <button
          class="py-3 bg-[#7c94e1]  text-white text-xs font-medium rounded-full shadow-md transition duration-300 w-full"
          (click)="toggleComponnet(doctor.name, doctor.doctor_id)"
        >
          Schedule
        </button>
      </div>
    </div>
  </div> 
  
<div *ngIf="generateSlot" class="relative rounded-lg shadow-lg mt-20">
  <div class="flex justify-between items-center mx-4 mt-12">
    <div>
      <button
        (click)="openSlotModal('add')"
        class="py-2 px-3 bg-[#7c94e1] text-sm text-white rounded-md hover:bg-blue-500 transition-all"
      >
        Add Schedule
      </button>
    </div>
    <div>
      <p class="text-xl font-semibold text-gray-900">Manage Doctors' Schedule</p>
    </div>
    <div>
      <mat-icon
        (click)="closeScheduleModal()"
        class="text-lg cursor-pointer text-gray-700 hover:text-gray-900 transition-all"
        >close</mat-icon
      >
    </div>
  </div>
  <div class="calendar-container h-[80vh]">
    <full-calendar
      [options]="calendarOptions"
      class="m-4"
    ></full-calendar>
  </div>
  
</div>


<div
  class="fixed inset-0 bg-black bg-opacity-70 mt-28 flex items-center justify-center z-50"
  *ngIf="isModalOpen"
>
  <div
    class="bg-white dark:bg-neutral-950 relative rounded-lg shadow-2xl w-4/12 h-auto mx-4 p-6 space-y-6"
  >
    <div class="relative flex items-center justify-center border-b pb-4">
      <p class="text-lg font-medium text-gray-900">{{ formTitle }}</p>
      <button
        class="absolute right-0 text-gray-500 hover:text-gray-700 dark:hover:text-gray-300 text-3xl"
        (click)="closeModal()"
      >
        &times;
      </button>
    </div>

<form #formRef="ngForm" (ngSubmit)="saveEvent()" class="space-y-4">
  <div *ngIf="currentOpenedModal === 'add'">
    <label class="block text-sm font-medium text-gray-700 mb-1">Doctor</label>
    <input
      type="text"
      [(ngModel)]="currentDoctor"
      name="doctor"
      disabled
      class="w-full px-2 py-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <div>
    <label for="title" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      [(ngModel)]="formInputFeilds.title"
      [disabled]="previousEditCliked"
      class="mt-1 block w-full border-gray-300 rounded-md shadow focus:ring-indigo-500 focus:border-indigo-500 text-sm dark:bg-neutral-900 dark:border-gray-600 dark:text-gray-200 py-1"
      required
    />
  </div>

  <div class="grid grid-cols-2 gap-2">
    <div>
      <label for="available_slots" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Available Slots</label>
      <input
        type="number"
        id="available_slots"
        name="available_slots"
        [(ngModel)]="formInputFeilds.available_slots"
        [disabled]="previousEditCliked"
        class="mt-1 block w-full border-gray-300 rounded-md shadow focus:ring-indigo-500 focus:border-indigo-500 text-sm dark:bg-neutral-900 dark:border-gray-600 dark:text-gray-200 py-1"
        required
      />
    </div>

    <div>
      <label for="slot_date" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Date</label>
      <input
        type="date"
        id="slot_date"
        name="slot_date"
        [(ngModel)]="formInputFeilds.slot_date"
        [disabled]="previousEditCliked"
        class="mt-1 block w-full border-gray-300 rounded-md shadow focus:ring-indigo-500 focus:border-indigo-500 text-sm dark:bg-neutral-900 dark:border-gray-600 dark:text-gray-200 py-1"
        required
      />
    </div>
  </div>

  <div class="grid grid-cols-2 gap-2">
    <div>
      <label for="start" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Start Time</label>
      <input
        type="time"
        id="start"
        name="start"
        [(ngModel)]="formInputFeilds.start"
        [disabled]="previousEditCliked"
        class="mt-1 px-4 block w-full border-gray-300 rounded-md shadow focus:ring-indigo-500 focus:border-indigo-500 text-sm dark:bg-neutral-900 dark:border-gray-600 dark:text-gray-200 py-1"
        required
      />
    </div>

    <div>
      <label for="end" class="block text-sm font-medium text-gray-700 dark:text-gray-300">End Time</label>
      <input
        type="time"
        id="end"
        name="end"
        [(ngModel)]="formInputFeilds.end"
        [disabled]="previousEditCliked"
        class="mt-1 px-4 block w-full border-gray-300 rounded-md shadow focus:ring-indigo-500 focus:border-indigo-500 text-sm dark:bg-neutral-900 dark:border-gray-600 dark:text-gray-200 py-1"
        required
      />
    </div>
  </div>

  <div>
    <label for="description" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Description</label>
    <textarea
      id="description"
      name="description"
      [(ngModel)]="formInputFeilds.description"
      [disabled]="previousEditCliked"
      rows="2"
      class="mt-1 block w-full border-gray-300 rounded-md shadow focus:ring-indigo-500 focus:border-indigo-500 text-sm dark:bg-neutral-900 dark:border-gray-600 dark:text-gray-200 py-1"
      required
    ></textarea>
  </div>
  <div class="flex justify-end space-x-2 pt-4 border-t">
    <button
      type="button"
      class="px-4 py-2 bg-gray-300 rounded-full hover:bg-gray-400 text-sm text-gray-700 dark:bg-neutral-800 dark:text-gray-400 dark:hover:bg-neutral-700"
      (click)="closeModal()"
    >
      Cancel
    </button>
    <button
     *ngIf="!previousEditCliked"
      type="submit"
      [disabled]="formRef.invalid || previousEditCliked"
      class="px-6 py-2 bg-[#7c94e1] text-sm text-white rounded-full "
    >
      Save
    </button>
  </div>
</form>

  </div>
</div>


 </div> 
 
 
 <app-loader [message]="loaderMessage" *ngIf="activateLoader"></app-loader>
 <app-modal [message]="errorModalMessage" [typeOfModal]="typeofModal" *ngIf="isErrorModal"></app-modal>




